# Build
__pycache__/*
*.py[cod]
*$py.class


# docker
data/*
!data/.gitkeep

logs/*
!logs/.gitkeep

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.pot

# Django stuff:
*.log

# Editors stuff:
*.vscode

# Env
env/
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# dbsqlite
db.sqlite3
